.MuiContainer-root {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.MuiCard-root {
    margin: 10px;
    min-width: 300px;
    justify-content: space-between;
}

h1 {
    color: rgb(159,65,152);
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

/* Path {
    color: red;
} */