.containermain {
  background-image: url(howitworksbackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100%;
  padding: 5px 50px;
  margin-bottom: -20px;
}
.container-img {
  text-align: center;
}
